body {
  background-color: rgb(228, 231, 217) !important;
}

.nav-login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
  font-size: 20px;
}
.nav-heart-button {
  cursor: pointer;
  font-size: 30px;
  margin-right: 30px;
}

.nav-bag-button {
  cursor: pointer;
  font-size: 30px;
}

.nav-logo {
  display: flex;
  justify-content: left;
}

.nav-menu-list {
  display: flex;
  list-style-type: none;
}

.nav-menu-list li {
  padding: 10px;
}

.nav-menu-area {
  display: flex;
}

.nav-search-bar {
  max-width: 200px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 5px;
  overflow: hidden;
  margin-left: 100px;
  margin-right: 180px;
}

.nav-search-bar .input-group-text {
  background-color: #fff;
  border: none;
}

.nav-search-bar .form-control {
  border: none;
}

.nav-account-area {
  display: flex;
  align-items: center;
}

.nav-hamburger {
  display: none;
}

/* hamburger menu for mobile */
@media (max-width: 768px) {
  .nav-menu-area {
    display: none;
  }

  .nav-hamburger {
    display: block;
    cursor: pointer;
  }

  .nav-side-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 170px;
    height: 100%;
    background-color: rgb(134, 172, 113);
    z-index: 10;
    padding: 20px;
  }

  .nav-side-menu-header {
    display: flex;
    justify-content: flex-end;
  }

  .nav-side-menu-list {
    list-style-type: none;
    padding: 0;
  }

  .nav-side-menu-list li {
    padding: 15px 0;
    font-size: 18px;
    border-bottom: 1px solid black;
  }
}

.card-tag {
  display: flex;
}

.custom-container {
  width: 30%;
  max-width: 100%;
}

.login-structure {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* login part for mobile */
@media (max-width: 768px) {
  .login-structure {
    flex-direction: column;
    align-items: center;
  }

  .login-structure img {
    width: 100%;
    margin-bottom: 20px;
  }
}

.detail-bestseller-tag {
  max-width: 100%;
  height: auto;
}

.detail-bestseller-tag img {
  width: 110px;
  height: auto;
  object-fit: contain;
}

.detail-main-image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.detail-color-button {
  border: 1px solid rgba(239, 239, 239, 0.786);
  box-shadow: 0 0 0 0.5px rgb(182, 182, 182);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
  margin: 7px;
}

.detail-color-button:hover {
  box-shadow: 0 0 1px 6px rgba(86, 86, 86, 0.3);
}

.detail-color-button1 {
  background-color: rgb(52, 67, 62);
}

.detail-color-button2 {
  background-color: black;
}

.detail-color-button3 {
  background-color: white;
}

.detail-color-area {
  display: flex;
}

.detail-size-button {
  border-radius: 5px;
  margin: 5px;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(211, 211, 211);
  box-shadow: 0 0 0 0.5px rgb(211, 211, 211);
}

.detail-size-button:hover {
  box-shadow: 0 0 3px 2px grey;
}

.detail-add-to-bag {
  max-width: 100%;
  font-size: 16px;
  font-family: Calibre, "Helvetica Neue";
  width: 400px;
  height: 40px;
  background-color: rgb(101, 203, 46);
  border: none;
  color: #fff;
  border-radius: 0.25rem;
  margin-top: 100px;
}

/* changed carousel's arrow color */
.detail-custom-carousel .carousel-control-prev-icon,
.detail-custom-carousel .carousel-control-next-icon {
  background-color: rgb(101, 203, 46);
}
