body {
  background-color: rgb(228, 231, 217) !important;
}

.nav-login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}

.nav-logo {
  display: flex;
  justify-content: center;
}

.nav-menu-list {
  display: flex;
  list-style-type: none;
}

.nav-menu-list li {
  padding: 10px;
}

.nav-menu-area {
  display: flex;
  justify-content: center;
}

.nav-search-bar {
  max-width: 170px;
  height: 10px;
}

.card-tag {
  display: flex;
}

.all-row-items {
  /* margin-top: 350px !important; */
}

.custom-container {
  width: 30% !important;
  max-width: 100%;
}
